body {
	background: #5d802c;
	color: #878785;
	font-family: Arial;
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}

a {
	outline: none;
}

img {
	border: 0;
}
/***********************头部********************************/
#header {
	background:url(../images/headbg.png) no-repeat top center;
	background-size: 1520px 250px;
	width: 100%;
	height:252px;
	float:left;
}

#header div {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

#userMsg{
	height:20px;
	width:100%;
	float:left;
	margin:0;
	overflow: hidden;
	padding: 0;
	background:none;
}

#managerLogin,#userLogin{
	height:20px;
	width:100%;
	margin: 0;
	padding:0;
	background:none;
}

#userMsg div{
	height:20px;
	width:100%;
	margin:0;
	padding:0;
	background:none;
	border:none;
}

#userMsg a,#userMsg span{
	display:block;
	float:left;
	margin:0 5px;
	background:none;
	text-decoration:none;	
}

#userMsg a:hover,#userLogin a:hover,#managerLogin a:hover{
	color:red;
}

#header div a.logo{
	display:block;
	width:150px;
}

#header div a img {
	width:150px;
	height:150px; 
	margin-top: 10px;
}

#header div ul {
	float: right;
	list-style: none;
	margin: 40px 0 0;
	overflow: hidden;
	padding: 0;
	clear:both;
}

#header div ul li {
	font-weight: bold;
	float: left;
	padding: 0 5px;
}

#header div ul li.current a {
	background: url(../images/bg-button.gif) no-repeat 0 0;
}

#header div ul li a {
	color: #495531;
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 90px;
}

#header div ul li a:hover {
	color: #82ae3f;
}

/*******************主页内容左边*****************/
#leftContent{
	width:19.8%;
	min-height:600px;
	float:left;
	margin: 0 0 0 0.2%;
	position:sticky;
	top:0;
	bottom:1000px;
}

#leftContent ul{
	list-style-type:none;
	margin:0;
	padding:0px;
	width:100%;
/*	background-color:gray;*/
	text-align:center;
	float:right;
	
}

#leftContent ul li{
	border:solid 2px #2a460c;
	/*border-bottom:solid 2px #985f0d;*/
}

#leftContent ul li:last-child{
	border-bottom:none;
}

#leftContent ul li a{
	color:#000000;
	width:100%;
	display:block;
	padding:10px 0;
	text-decoration:none;
	
}

#leftContent ul li a:hover{
	background-color:#f0ad4e;
}



/*********主页内容右边**********/

#rightContent{
	width:79.8%;
	min-height:700px;
	float:left;
	margin: 0 0.2% 0 0;
	padding:0;
	background-color:#DDFFFF;
}

/************搜索框*************/
#search,#searchDiv{
	width:50%;
	margin:10px 25%;
	position:sticky;
	top:0;
}

#searchMsg{
	width:70%;
	height:35px;
	font-size:15px;
}

#searchBtn{
	width:10%;
	height:35px;

}

/************iframe框架（暂时不使用了）***************/
#rightContent iframe{
	frameborder:0;
	width:99%;
	height:100%;
}


/************商品信息***********/

.goods{
	width:100%;
	height:200px;
	margin:10px 0;
}

.goodsImg{
	width:200px;
	height:200px;
	float:left;
	margin-left:100px;
	margin-right:20px;
}

.goods p{
	font-size:15px;
	padding:2px 0;
	color:#555555;
}

p.goodsName{
	font-size:18px;
	font-weight:bold;
	color:#000000;
}

.goodsForm input{
	font-size:15px;
	font-weight:bold;
	color:#000000;
}

.goodsForm p input{
	width:50px;
	text-align:left;
	border-style: none;
	background:none;
	font-weight:bold;
	color:#555555;
	readonly:expression(this.readOnly=true);
    pointer-events: none;
}

.pick{
	width:50px;
	text-align:right;
	pointer-events:none;
}

.decrease{
	text-align:center;
}

input.increase{
	text-align:center;
	color:red;
}

.addToCart{
	margin-left:10px;
	background-color:red;
	border-style:solid;
	visibility:hidden;
}

/*****************你的位置***************/
#position{
	width:80%;
	height:30px;
	margin:20px 10%;
}

#position a{
	text-decoration:none;
}

#position a:hover{
	color:red;
}

#pageSkip{
	float: left;
	width:40%;
	height:50px;
	margin:50px 30%;
}



/*****************管理员页面*************/
#addNewGoods{
	width:80%;
	height:50px;
	margin:10px 10%;
}

#addNewGoods a{
	color:#123456;
	width:100px;
	display:block;
	padding:10px 0;
	text-align:center;
	text-decoration:none;
	outline:solid 1px;
	font-weight:bold;
	font-size:18px;
	font-family:"TImes New Roman",Times,serif;
}

#addNewGoods a:hover{
	color:red;
}

.addCount{
	width:100px;
}

/*****************商品品类***************/
.goodsList{
	width:50%;
	padding-left:20%;
	padding-right:20%;
	min-height:500px;
	float:left;
	background-color:#DDFFFF;
}

/*****************购物车***************/

#content{
	width: 100%;
	min-height: 730px;
	float:left;
	overflow: hidden;
	background-color:#DDFFFF;
}

#cart{
	width: 60%;
	min-height: 700px;
	float:left;
	overflow: hidden;
	margin:auto 20%;
}

#content div table{
	width: 100%;
	margin:50px 0%;
	border-bottom:1px;
	border-collapse:collapse;
	
}

#content div table tr th,td{
	border:solid 1px;
	text-align:center;
}

#content div table tr th{
	height:50px;
	font-family:"TImes New Roman",Times,serif;
	color:#000000;
}

#content div table tr td ul li{
	margin:10px 20px;
	list-style: none;
	height:100px;
	display:block;
	float:left;
	vertical-align:center;
	line-height:100px;
}

#content div table tr td ul li img{
	width:100px;
	height:100px;	
}

.cGoodsMsg{
	width:45%;
}

.cAmount{
	width:25%;
}

.cPrice,.cAubtotal{
	width:15%;
}

#pay{
	width:20%;
	margin-left:60%;
	position:fixed;
	bottom:0;
}

#pay form{
	width:100%;
}

#payText{
	width:30%;
	font-size:20px;
	font-weight:bold;
	color:#000000;
}

#payCount{
	width:40%;
	font-size:20px;
	font-weight:bold;
	color:#000000;
	border-style: none;
	background:none;
	readonly:expression(this.readOnly=true);
    pointer-events: none;
}

#payBtn{
	width:30%;
	font-size:20px;
	color:red;
	border-style:solid;
}

#payBtn:hover{
	background-color:#66DDDD;
}


/******************我的订单**********************/
#indent{
	width: 70%;
	min-height: 700px;
	float:left;
	overflow: hidden;
	margin:auto 15%;
}

.iGoodsMsg{
	width:40%;
}
.iPrice,.iAmount,.iAubtotal,.iTime{
	width:15%;
}
/*
#content div table{
	width: 100%;
	margin:50px 0%;
	border-bottom:1px;
	border-collapse:collapse;
	
}

#content div table tr th,td{
	border:solid 1px;
	text-align:center;
}

#content div table tr th{
	height:50px;
	font-family:"TImes New Roman",Times,serif;
	color:#000000;
}

#content div table tr td ul li{
	margin:10px 20px;
	list-style: none;
	height:100px;
	display:block;
	float:left;
	vertical-align:center;
	line-height:100px;
}

#content div table tr td ul li img{
	width:100px;
	height:100px;	
}
*/


/******************登录页面**********************/

#loginContent{
	width: 100%;
	min-height: 550px;
	float:left;
	overflow: hidden;
	background-color:#DDFFFF;
}

#loginContent div{
	width:30%;
	margin:180px 35%;
	height:250px;
	outline:#000000 solid 1px;
	background-color:#DDFFFF;
	text-align:center;
}

#loginContent div form span.loginP{
	display:block;
	float:left;
	width:30%;
	height:25px;
	margin:30px 0;
	text-align:right;
}

.loginText{
	display:block;
	float:left;
	width:40%;
	height:25px;
	margin:30px 5% 30px 10%;
	text-align:left;
}

#loginContent div form span.tip{
	display:block;
	float:left;
	margin:30px 0;
	width:15%;
	height:25px;
	text-align:left;
	font-weight: bolder;
	font-size: x-large;
	font-style: inherit;
}

#loginBtn{
	display:block;
	float:right;
	width:10%;
	height:25px;
	margin:30px 20% 30px 70%;
	text-align:left;
}

/*************注册页面****************/


#registerContent{
	width: 100%;
	min-height: 550px;
	float:left;
	overflow: hidden;
	background-color:#DDFFFF;
}

#registerContent div{
	width:30%;
	margin:100px 35%;
	height:500px;
	outline:#000000 solid 1px;
	background-color:#DDFFFF;
	text-align:center;
}

#registerContent div form span.registerP{
	display:block;
	float:left;
	width:30%;
	height:25px;
	margin:30px 0;
	text-align:right;
}

.registerText{
	display:block;
	float:left;
	width:40%;
	height:25px;
	margin:30px 20% 30px 10%;
	text-align:left;
}

.sex{
	display:block;
	float:left;
	width:15%;
	margin:30px 0;
	text-align:left;
}

.sexP{
	display:block;
	float:left;
	width:5%;
	margin:30px 10% 30px 0;
	text-align:left;
}

.registerBtn{
	display:block;
	float:left;
	width:10%;
	margin:30px 20% 5px 70%;
	text-align:left;
}

/***************商品分类********************/
#classify{
	width:60%;
	margin:100px 20%;
	float:left;
}

#classify ul{
	list-style-type:none;
	width:90%;
	text-align:center;	
}

#classify ul li{
	width:20%;
	display:block;
	float:left;
}

#classify ul li a{
	color:#555555;
	width:100%;
	display:block;
	padding:10px 0;
	text-decoration:none;
	float:left;
}

#classify ul li a:hover{
	background-color:#ce8483;
}



/***************个人中心********************/
#personalMsg{
	width:40%;
	margin:auto 30%;
}

.key{
	width:30%;
	text-align:left;
	text-indent: 60px;
	height:40px;
}

.value{
	width:70%;
	text-align:left;
	text-indent: 60px;
	height:40px;
}

/***************联系客服********************/

#contact{
	width:60%;
	margin:auto 20%;
}
/*
#contact table tr td.key{
	width:40%;
	text-align:left;
	text-indent: 60px;
}

#contact table tr td.value{
	width:40%;
	text-align:left;
	text-indent: 60px;
}
*/
/*******************************************/
#manager{
	width:60%;
	margin:auto 20%;
}
#chooseImg{
/*
	visibility:hidden;
	*/
}
/*************上架新商品**********************/
#addGoods{
	width:60%;
	height:100px;
	margin:0 20%;
	font-family: sans-serif;
	color:#000000;
}

#addGoods form {
	width: 600px;
	background: #ccc;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid black;
}

#addGoods form ol {
	padding-left: 0;
}

#addGoods form li, div > p {
	background: #eee;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	list-style-type: none;
	border: 1px solid black;
}

#addGoods form img {
	height: 64px;
	order: 1;
}

#addGoods form p {
	line-height: 32px;
	padding-left: 10px;
}

#addGoods form label,#addGoods form button {
	background-color: #7F9CCB;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px ridge black;
	font-size: 0.8rem;
	height: auto;
}

#addGoods form label:hover,#addGoods form button:hover {
	background-color: #2D5BA3;
	color: white;
}

#addGoods form label:active,#addGoods form button:active {
	background-color: #0D3F8F;
	color: white;
}



/***************尾部************************/


#footer {
	border-top: 2px solid #a4dd50;
	padding-top: 20px;
	background-color:#5d802c;

}

#footer div {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

#footer div div {
	float: left;
	margin-left: 65px;
	width: 300px;
}

#footer div div span {
	color: #364818;
    display: block;
    font-size: 18px;
	padding-bottom: 20px;
}

#footer div div a {
	color: #314810;
	display: block;
	margin-bottom: 15px;
	text-decoration: none;
	text-indent: 60px;
}

#footer div div a:hover {
	color: #82ae3f;
}

#footer div div a.phone {
	background: url(../images/iconphone.png)  no-repeat;
	line-height: 41px;
	background-size: 40px 40px;
}

#footer div div a.QQ {
	background: url(../images/iconQQ.png) no-repeat;
	line-height: 40px;
	background-size: 40px 40px;
}

#footer div div a.addr {
	background: url(../images/iconaddr.png) no-repeat;
	line-height: 40px;
	background-size: 40px 40px;
}

#footer div div a.email {
	background: url(../images/iconemail.png) no-repeat;
	line-height: 40px;
	background-size: 40px 40px;
}

#footer div ul {
	float: right;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 500px;
}



#footer div ul li {
	background: url(../images/bg-footer-item.jpg) no-repeat;
	float: left;
	height: 251px;
	width: 320px;
}

#footer div ul li p {
	color: #ffffff;
	line-height: 23px;
    margin: 0;
    padding: 200px 35px;
    text-align: justify;
}


p.footnote{
	color: #2a460c;
	padding: 5px 0;
	background:none;
	border:0;
	text-align: center;
	display:block;
}