<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="pers.goodwin.shopSystem.mapper.CartMapper">
 	<insert id="addGoodsToCart">
 		INSERT into t_cart(userId,goodsId,amount) 
 		value(#{userId},#{goodsId},#{amount})
 	</insert>
 	
 	<select id="getCart" resultType="cart">
 		select * from t_cart WHERE userId = #{userId} and goodsId = #{goodsId};
 	</select>
 	
 	<update id="updateGoodsAmount">
 		UPDATE t_cart set amount = #{amount} 
 		WHERE userId = #{userId} and goodsId = #{goodsId}
 	</update>
 	
 	<delete id="removeGoodsFromCart">
 		DELETE FROM t_cart WHERE userId = #{userId} and goodsId = #{goodsId}
 	</delete>
 	
 	 <delete id="removeAllGoodsByUserId" parameterType="Integer">
 	 	DELETE FROM t_cart WHERE userId = #{userId}
 	 </delete>
 	 
 	 <select id="searchByUserId" parameterType="Integer" resultType="cart">
 	 	select * from t_cart WHERE userId = #{userId};
 	 </select>
 </mapper>