<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="pers.goodwin.shopSystem.mapper.IndentMapper">
 	<insert id="addGoodsToIndent" parameterType="Indent">
 		INSERT into t_indent(userId,goodsId,price,amount,tradeTime) 
 		value(#{userId},#{goodsId},#{price},#{amount},#{tradeTime})
 	</insert>
 	
	<select id="searchByUserId" parameterType="Integer" resultType="Indent">
		select * from t_indent WHERE userId = #{userId}
	</select>
 </mapper>